.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  align-items: center;  
  background-color: #D1E8E4;
  /* height: 600px;
  margin-top: 200px; */
}
.person {
  margin: 10px;
}
.btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
button {
  background-color: #C37B89;
  color: #fff;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}